{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{employee.name |title}}</title>
    <link rel="stylesheet" href="{%static "bid.css" %}">
</head>
<body>
    <div class="nav">
        <a href="{%url 'all' %}"><h3>Auction</h3></a>
    <ul>
        <li>

        </li>
        <a href="{%url 'logout' %}"><li><h3>Logout</h3></li></a>
    </ul>
    </div>
<section id="detail">
    <div class="container">
        <div class="col">
            <div class="card">
                <img  class="linkimg" src="{{book.image.url}}" alt="">
                <h3>{{book.title|title}}</h3>
                <h5 style="font-size: medium;">{{book.highest|title}} - {{book.bid}}</h5>

                <!-- <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est incidunt laboriosam obcaecati labore impedit. Ea est voluptatem maiores neque velit tempore ipsum maxime vel repellat, iusto ab nulla sunt! Sapiente?</p> -->
            </div>
            {%if sold%}
            <h2>SOLD</h2>
            {%endif%}
        </div>
    </div>
    </section>
    <form method="POST" novalidate>
        {% csrf_token %}
        {% for field in form %}
        {{field.tag}}
        {{field}}
        {% endfor %}
        <button>Add bid</button>
    </form>

</body>
</html>